In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:\Github\\Image-Processing-Project\\Dataset\\cassava-leaf-disease-classification\\train.csv')
df

             image_id  label
0      1000015157.jpg      0
1      1000201771.jpg      3
2       100042118.jpg      1
3      1000723321.jpg      1
4      1000812911.jpg      3
...               ...    ...
21392   999068805.jpg      3
21393   999329392.jpg      3
21394   999474432.jpg      1
21395   999616605.jpg      4
21396   999998473.jpg      4

[21397 rows x 2 columns]

In [5]:
df.groupby(['label']).count()

       image_id
label
0          1087
1          2189
2          2386
3         13158
4          2577

In [7]:
21397 - 2386

19011